#background-div{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.none {
    background-color: white;
}

.pinky {
    background-color: pink;
}

.minty {
    background-color: rgb(133, 180, 157);
}